[Unit]
Description=DuckDNS Updater Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/duckdns-ddns/duck.sh
EnvironmentFile=/home/pi/duckdns-ddns/config.env
WorkingDirectory=/home/pi/duckdns-ddns

[Install]
WantedBy=multi-user.target
